<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Thibaut Gruffy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Il en pense quoi ?</title>
    <meta property="og:url"           content="http://www.ilenpensequoi.fr" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Il en pense quoi ?" />
    <meta property="og:description"   content="Des milliers de produits et services, un seul site d'avis" />
    <meta property="og:image"         content="{{ asset("images/Logo_Thythy100.jpg") }}" />
    {% include 'styleAndScript/style.html.twig' %}
</head>
<body>
{% include 'navbar/navbar.html.twig' %}

<main>
{% block content %}
{% endblock %}
</main>
{% include 'styleAndScript/script.html.twig' %}
{% block indexScript %}
{% endblock %}

{% block datatableScript %}
{% endblock %}
<footer>

</footer>

</body>
</html>