{% extends 'layout.html.twig' %}
{% block indexScript %}

{% endblock %}
{% block content %}
    <div class="container index-container">
        <section id="presentation">
            <div class="index-presentation row">
                <div class="col s12 z-depth-1 center light-blue lighten-2 white-text">
                    <h1>IL EN PENSE QUOI ?</h1>
                    <h2>Des milliers de produits et services, un seul site d'avis !</h2>
                </div>
                <div class="col s12 m12 l6">
                    <div class="card horizontal index-cards card-inscription">
                        <div class="card-image">
                            <img src="{{ asset('images/feedback-2073918_1920.jpg') }}" alt="feedback" class="img-feeadback">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content center">
                                <h5>Partagez votre avis dès maintenant !</h5>
                                <p>Inscrivez-vous et rejoignez notre communauté d'<span>aVicionados</span></p>
                                <i class="small material-icons light-blue-text text-lighten-2">arrow_downward</i>
                            </div>

                            <div class="card-action center">
                                <a class="waves-effect waves-light btn light-blue lighten-2 ">Inscription</a>
                                <a class="card-a-connexion blue-text text-lighten-2">Connexion</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l6">
                    <div class="card horizontal index-cards card-categories">
                        <div class="card-image">
                            <img src="{{ asset('images/hatena-1184896_1920.png') }}" alt="questions" class="img-questions">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content center">
                                <h5>Besoin d'aide pour vous décider avant de faire une dépense ?</h5>
                                <p>Recherchez parmis toutes les catégories déjà existentes</p>
                                <i class="small material-icons light-blue-text text-lighten-2">arrow_downward</i>
                            </div>
                            <div class="card-action center">
                                <a href="#" class="waves-effect waves-light btn light-blue lighten-2 ">Catégories</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <p class="card-title center"><i class="tiny material-icons green-text">thumb_up</i>
                                Dernier avis positif <i class="tiny material-icons green-text">thumb_up</i></p>
                            <p></p>
                        </div>
                        <div class="card-action">
                            <a href="#">Tout voir</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <p class="card-title center"><i class="tiny material-icons red-text">thumb_down</i> Dernier avis négatif <i class="tiny material-icons red-text">thumb_down</i></p>
                            <p></p>
                        </div>
                        <div class="card-action">
                            <a href="#">Tout voir</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
