{% extends 'layout.html.twig' %}
{% block indexScript %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.10";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
{% block content %}
    <div class="container index-container">
        <section id="presentation">
            <div class="index-presentation ">
                <div class="row z-depth-2">
                    <div class="col s12 z-depth-1 center blue-grey lighten-5 light-blue-text text-lighten-2">
                        <h1>Des milliers de produits et services, un seul site d'avis !</h1>
                        <div class="fb-like " data-href="http://www.ilenpensequoi.fr" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col s12 m12 l6 ">
                        <div class="card horizontal index-cards card-inscription blue-grey lighten-5 z-depth-2">
                            <div class="card-image">
                                <img src="{{ asset('images/feedback-2073918_1920.jpg') }}" alt="feedback" class="img-feeadback">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content center">
                                    <h5>Partagez votre avis dès maintenant !</h5>
                                    <p>Inscrivez-vous et rejoignez notre communauté d'<span>aVicionados</span></p>
                                    <i class="small material-icons light-blue-text text-lighten-2">arrow_downward</i>
                                </div>

                                <div class="card-action center">
                                    <a class="waves-effect waves-light btn light-blue lighten-2 ">Inscription</a>
                                    <a class="card-a-connexion blue-text text-lighten-2">Connexion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l6">
                        <div class="card horizontal index-cards card-categories blue-grey lighten-5 z-depth-2">
                            <div class="card-image">
                                <img src="{{ asset('images/hatena-1184896_1920.png') }}" alt="questions" class="img-questions">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content center">
                                    <h5>Besoin d'aide pour vous décider avant de faire une dépense ?</h5>
                                    <p>Recherchez parmis toutes les catégories déjà existentes</p>
                                    <i class="small material-icons light-blue-text text-lighten-2">arrow_downward</i>
                                </div>
                                <div class="card-action center">
                                    <a href="#" class="waves-effect waves-light btn light-blue lighten-2 ">Catégories</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
