<header>
    <div class="navbar-fixed z-depth-2">
    <nav>

        <div class="nav-wrapper white ">
            <div class="nav-logo left">
                <a href="{{ path('home') }}">
                    <img src="{{ asset('images/Logo_Thythy100.jpg') }}" alt="il en pense quoi ?">
                </a>
            </div>
            <div class="search">
                <div class="search-wrapper">
                    <input id="search" type="search" class="grey lighten-4 black-text" placeholder="Rechercher">
                    <i class="material-icons search-icone black-text">search</i>
                    <div class="search-results"></div>
                </div>
            </div>
            <ul id="nav-mobile" class="right hide-on-med-and-down ">
                <li>
                    <a href="{{ path('index_admin') }}" class="light-blue-text text-lighten-2">Admin</a>
                </li>
                <li>
                    <a class="dropdown-button light-blue-text text-lighten-2" href="#!" data-activates="dropdown1"><i class="tiny material-icons left">person</i> Mon compte<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    </div>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Inscription</a></li>
        <li class="divider"></li>
        <li><a href="#!">Connexion</a></li>
    </ul>
</header>
<aside class="left-side-bar">
    <ul id="slide-out" class="side-nav fixed z-depth-2">
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal">Hôtel, Restaurant & Bar</a>
                    <div class="collapsible-body">
                        <ul>

                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal">Informatique</a>
                    <div class="collapsible-body">
                        <ul>

                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal">Smartphone & Tablette</a>
                    <div class="collapsible-body">
                        <ul>

                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal">Télévision & Home Cinema</a>
                    <div class="collapsible-body">
                        <ul>

                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal">Photo & Caméra</a>
                    <div class="collapsible-body">
                        <ul>

                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal">Electroménager</a>
                    <div class="collapsible-body">
                        <ul>

                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal">Jeux vidéo & Console</a>
                    <div class="collapsible-body">
                        <ul>

                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal">Magasin, e-commerce & service</a>
                    <div class="collapsible-body">
                        <ul>

                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal">Beauté & Soin</a>
                    <div class="collapsible-body">
                        <ul>

                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal">Auto & Moto (vente/réparation)</a>
                    <div class="collapsible-body">
                        <ul>

                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal">Banque & Assurance</a>
                    <div class="collapsible-body">
                        <ul>

                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal">Voyage & Lieu touristique</a>
                    <div class="collapsible-body">
                        <ul>

                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal">Divertissement, Sport & Loisir</a>
                    <div class="collapsible-body">
                        <ul>

                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal">Film, Série & Musique</a>
                    <div class="collapsible-body">
                        <ul>

                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal">Livre & BD</a>
                    <div class="collapsible-body">
                        <ul>

                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal">Jeu & Jouet</a>
                    <div class="collapsible-body">
                        <ul>

                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
</aside>
